body {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
  background: #fff8e1;
}

h1 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

#timerDisplay {
  font-size: 8em;

  font-size: 3em;
  margin: 1em;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}

button {
  font-size: 1.5em;
  padding: 1em 2em;
  width: 150px;
  border: none;
  border-radius: 8px;
  color: white;
}

button.yellow {
  background-color: #fdd835;
  color: black;
}

button.red {
  background-color: #e53935;
}

button.black {
  background-color: #424242;
}

button.active {
  outline: 4px solid #2196f3;
  box-shadow: 0 0 10px #2196f3;
}


footer {
  margin-top: 2em;
  font-size: 0.75em;
  color: #555;
}
